:root {
    --main-color: white;
    --main-sec-color: grey;
    --sec-color: black;
    --tr: transparent;
    --pad: 6rem;
} 

@font-face {
    font-family: HYWenHei;
    src: url(../zh-cn.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------- NAVIGATION BAR ------------------- */

.navi {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi > .navi-header {
    display: inline;
}

.navi > .navi-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi > .navi-links > a {
    font-family: 'Inter';
    display: inline;
    padding: 40px 40px;
    text-decoration: none;
}

.navi > .navi-links > a:hover {
    color: var(--main-color);
    font-weight: 600;
    transition: all 200ms;
}

.nav, #navi-check {
    display: none;  
}

navbar {
    top: 0;
    position: fixed;
    height: fit-content;
    width: 100%;
    padding: 7px 5vw;
    background-color: black;
    z-index: 100;
    opacity: 70%;
}

.menu-style {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-sec-color);
}

.menu-style.page {
    color: var(--main-color);
    font-weight: 600;
}

.icon {
    height: 45px;
}

.container {
    margin: 0;
    display: flex;
    max-width: 100%;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
}

/* ------------------- FOOTER ------------------- */

.footerbro {
    bottom: 0;
    position: relative;
    height: fit-content;
    width: 100%;
    padding: 7px 5vw;
    background-color: var(--sec-color);
    z-index: 100;
    justify-content: space-between;
}

.containerfooter{
    margin: 0;
    display: flex;
    max-width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
}

.containerfooter > .footerlogo {
    display: inline;
}

.copyright{
    padding-left: 30%;
    font-size: 1rem;
    text-align: center;
    line-height: 100%;
    color: var(--main-color);
    font-family: Inter;
    font-weight: 300;
    font-style: italic;
}

.iconfooter {
    height: 45px;
}

.containerfooter > .socialmedia {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30%;
}

.containerfooter > .socialmedia img {
    height: 30px;
    width: 30px;
}

/* ------------------- RESPONSIVE NAVBAR + FOOTER ------------------- */

@media screen and (max-width: 769px) {
    .navi > .navi-btn {
        display: flex;
    }

    .navi > .navi-btn > label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 10px;
    }

    .navi > .navi-btn > label:hover,
    .navi #navi-check:checked ~ .navi-btn > label {
        border: 3px solid white;
    }

    .navi > .navi-btn > label > span {
        display: block;
        border-top: 2px solid var(--main-color);
    }

    .navi > .navi-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--main-color);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
        box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.2);
    }

    .navi > .navi-links > a {
        display: block;
        width: 100%;
        color: var(--sec-color);
    }

    .navi > .navi-links > a:hover{
        color: var(--main-color);
    }

    .navi > #navi-check:not(:checked) ~ .navi-links {
        height: 0px;
    }

    .navi > #navi-check:checked ~ .navi-links {
        height: fit-content;
        overflow-y: auto;
    } 

    .containerfooter > .copyright p{
        display: inline-flex;
    }

    .footerlogo img{
        display: none;
    }

    .containerfooter > .socialmedia img{
        display: none;
    }
}

@media screen and (max-width: 426px) {
    .containerfooter > .copyright {
        font-size: 0.65rem;
    }
}

/* ------------------- CONTENT ------------------- */

.registerpage {
    padding: 0;
    background-image: url(../images/registerbgnew.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
}
  
.registerpage::after {
    content: "";
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-size: cover;
    position: absolute;
}
  
.registerbg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.register-forms {
    margin: 0px auto;
    height: fit-content;
}

.register-forms form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--sec-color);
    font-family: Inter;
    margin-bottom: 10px;
}
  
.register-forms form p {
    margin-bottom: 5px;
}
  
.register-forms form p2 {
    color: red;
}
  
.register-forms input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 450px;
    font-family: Inter;
} 
  
.register-card {
    background-color: var(--main-color);
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    padding: 4%;
    margin: 4%;
}
  
.register-card h2 {
    color: var(--sec-color);
    margin-bottom: 20px;
    text-align: center;
    font-family: Inter;
    font-weight: 50em;
}
  
.register-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: row;
}
  
.agreement-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-items: baseline;
}
  
.agreement-cont input {
    width: 1.5vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
  
.agreement-cont p {
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    display: inline-flex;
    padding-left: 0.3vw;
}
  
.reg-button {
    background-color: var(--sec-color);
    border-radius: 5px;
    height: 20%;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--main-color);
}


/* ------------------- RESPONSIVE CONTENT ------------------- */

@media screen and (max-width: 769px) {
  .container-register {
    display: flex;
    justify-content: center;
  }

  .register-forms input {
    width: 300px;
  }

  .reg-button {
    width: 300px;
  }

  .agreement-cont {
    width: 300px;
  }

  .agreement-cont input {
    width: 2rem;
    display: inline-flex;
    align-items: left;
    justify-content: center;
  }
}
